.header__subheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.header__title {
  margin-bottom: 16px;
  line-height: var(--line-height);
  align-self: center;
}

.header__title a, .site-description {
  color: var(--color-black);
  font-weight: 500;
}

.header__title a:hover, .header__title a:visited {
  color: var(--color-black);
}

.page-title {
  color: var(--color-black);
  font-weight: 500;
  margin-left: 2rem;
}

@media (min-width: 45em) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    border-right: 0.1rem solid #eeeeee;
    backdrop-filter: blur(2px);
  }

  .page-title {
    margin-left: 4rem;
  }
}
